# Sub-Saturated Explore

In [1]:
# imports
import os
import xarray

import numpy as np
from scipy import stats
from scipy.interpolate import interp1d 

from matplotlib import pyplot as plt
import matplotlib as mpl
import matplotlib.gridspec as gridspec
import matplotlib.dates as mdates
from matplotlib.ticker import MultipleLocator 

mpl.rcParams['font.family'] = 'stixgeneral'


import seaborn as sns

import pandas

from siosandbox.cugn import clusters
from siosandbox import plot_utils
from siosandbox import cat_utils

from cugn import grid_utils
from cugn import utils as cugn_utils
from cugn import io as cugn_io
from cugn import annualcycle

# Load

In [7]:
line = '56.0'
#
items = cugn_io.load_up(line, gextrem='low')
grid_extrem = items[0]

Found 20 unique clusters

# Cluster me

In [8]:
stats = clusters.cluster_stats(grid_extrem)

In [9]:
stats[0:5]

,z,lon,doxy,time,SA,CT,sigma0,SO,chla,max_doxy,max_SO,max_chla,N,cluster
0,15.762712,-123.367698,229.799361,2020-01-10 08:30:31.881356032,33.567622,11.874382,25.385347,0.860542,0.941748,240.740995,0.899919,1.277400,59,0
1,15.535714,-123.377515,224.309751,2020-02-05 00:40:42.732142848,33.539455,11.002354,25.521780,0.824781,0.420906,242.859674,0.899898,0.637200,112,1
2,17.142857,-123.493140,228.419679,2020-09-12 22:16:30.806723072,33.437435,11.168917,25.412335,0.842113,1.295857,245.759085,0.897549,3.630000,119,2
3,18.205128,-123.422989,220.666866,2020-10-21 02:22:49.153845760,33.448918,11.454946,25.369887,0.818744,1.020928,242.815478,0.899511,2.188125,39,3
4,16.000000,-123.731228,236.162665,2020-11-15 04:37:48.200000256,33.515081,11.601037,25.395263,0.879023,0.856122,240.171609,0.892227,1.220400,5,4

## Check

In [10]:
in_cluster = grid_extrem.cluster == 2
grid_extrem[in_cluster]

,depth,profile,row,col,doxy,doxy_p,time,lon,lat,z,...,SO,N,chla,T,N_p,chla_p,year,doy,dist,cluster
1888,0,2113,25,28,238.608318,42.000000,2020-09-10 17:46:45,-123.376163,38.497252,10,...,0.896139,5.191464,2.107364,12.007455,37.428571,88.285714,2020,254,3.921272,2
1894,0,2119,26,28,234.593655,42.105263,2020-09-10 21:44:42,-123.387806,38.489283,10,...,0.878173,8.784683,3.630000,11.832833,82.894737,97.368421,2020,254,5.249175,2
1902,0,2127,25,27,237.448320,25.342466,2020-09-11 03:27:42,-123.417332,38.481501,10,...,0.896926,9.694342,2.100600,12.285700,84.246575,91.780822,2020,255,7.924508,2
1903,0,2128,26,27,236.228507,36.585366,2020-09-11 04:05:32,-123.420142,38.481016,10,...,0.890483,9.259125,2.183800,12.182400,79.674797,94.308943,2020,255,8.164836,2
1904,0,2129,26,28,234.593128,41.666667,2020-09-11 05:03:38,-123.424457,38.480272,10,...,0.880472,8.275969,2.170846,11.966385,77.631579,91.666667,2020,255,8.533901,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12069,1,2262,25,30,215.664923,38.605898,2020-09-16 07:48:30,-123.374721,38.399998,20,...,0.789175,8.790487,0.790200,10.783900,89.946381,79.624665,2020,260,9.229957,2
12072,1,2265,25,30,214.570691,37.667560,2020-09-16 09:59:40,-123.369808,38.398211,20,...,0.786301,9.485736,0.738545,10.839091,94.772118,75.603217,2020,260,8.956411,2
12077,1,2270,23,28,236.843771,29.067245,2020-09-16 14:12:02,-123.349312,38.390090,20,...,0.873639,10.394797,1.233750,11.185250,96.095445,81.344902,2020,260,7.852771,2
12078,1,2271,27,30,210.337843,34.042553,2020-09-16 15:02:13,-123.345728,38.388410,20,...,0.776903,10.329643,0.886636,11.180909,95.357834,73.887814,2020,260,7.674176,2
12079,1,2272,25,29,232.265792,33.277592,2020-09-16 15:50:01,-123.342663,38.386922,20,...,0.860511,10.327168,1.438333,11.360556,97.826087,89.130435,2020,260,7.524338,2