# Check the duL for the 2 Spray gliders

In [1]:
# imports
import os 
import numpy as np
from importlib import reload

import pandas

from profiler.loading.pymatreader import pymatreader

import arcterx_utils

# Load

In [2]:
reload(arcterx_utils)
iz = 9
profilers, Sn_dict, gPairs, rbins = arcterx_utils.calc_structure(
        'ARCTERX-Leg2', 'duLduLduL', ['Spray'], iz, 7., randomize=False)

Loading Sprays
calc_dist_offset: theta=1.5707963267948966 rad, 90.0 deg
calc_dist_offset: theta=1.5707963267948966 rad, 90.0 deg
Using lonendpts: (129.9167, 129.9167)
Using latendpts: (20.3332, 20.3334)
calc_dist_offset: theta=1.5707963267948966 rad, 90.0 deg
calc_dist_offset: theta=1.5707963267948966 rad, 90.0 deg

/home/xavier/Projects/Oceanography/python/profiler/profiler/profilerpairs.py:550: RuntimeWarning: Mean of empty slice
  avg_r.append(np.nanmean(self.r[in_r]))
/home/xavier/Projects/Oceanography/python/profiler/profiler/profilerpairs.py:551: RuntimeWarning: Mean of empty slice
  avg_S1.append(np.nanmean(self.S1[in_r]))
/home/xavier/miniconda3/envs/ocean/lib/python3.12/site-packages/numpy/lib/_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/home/xavier/miniconda3/envs/ocean/lib/python3.12/site-packages/numpy/lib/_nanfunctions_impl.py:2035: RuntimeWarning: Degrees of freedom <= 0 for slice.
  var = nanvar(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
/home/xavier/Projects/Oceanography/python/profiler/profiler/profilerpairs.py:554: RuntimeWarning: Mean of empty slice
  avg_S2.append(np.nanmean(self.S2[in_r]))
/home/xavier/Projects/Oceanography/python/profiler/profiler/profilerpairs.py:556: RuntimeWarning: Mean of empty slice
  avg_S3.append(np.nanmean(self.S3[in_r]))

In [3]:
lat_box=20.3333 
lon_box=129.9167

# Build a table

In [16]:
tbl = pandas.DataFrame()
# Mission ID
tbl['missid_0'] = gPairs.data('missida',0)
tbl['missid_1'] = gPairs.data('missida',1)
# 
tbl['du'] = gPairs.du
tbl['dv'] = gPairs.dv
tbl['dr'] = gPairs.r
tbl['duL'] = gPairs.duL
#tbl['duT'] = gPairs.duT
tbl['drX'] = gPairs.rxN
tbl['drY'] = gPairs.ryN
# Distance, offset
tbl['dist_0'] = gPairs.data('distE',0)
tbl['dist_1'] = gPairs.data('distE',1)
tbl['offset_0'] = gPairs.data('distN',0)
tbl['offset_1'] = gPairs.data('distN',1)
# lat, lon
tbl['lat_0'] = gPairs.data('lat',0)
tbl['lat_1'] = gPairs.data('lat',1)
tbl['lon_0'] = gPairs.data('lon',0)
tbl['lon_1'] = gPairs.data('lon',1)
# Velocity
tbl['u_0'] = gPairs.data('udop',0,iz)
tbl['u_1'] = gPairs.data('udop',1,iz)
tbl['v_0'] = gPairs.data('vdop',0,iz)
tbl['v_1'] = gPairs.data('vdop',1,iz)
#
tbl.head()

,missid_0,missid_1,du,dv,dr,duL,drX,drY,dist_0,dist_1,offset_0,offset_1,lat_0,lat_1,lon_0,lon_1,u_0,u_1,v_0,v_1
0,25203301,25203801,NaN,NaN,1.167725,NaN,-0.920851,-0.389916,34.711006,33.635705,9.455479,9.000164,20.418292,20.414195,130.249832,130.239512,NaN,0.112887,NaN,-0.257601
1,25203301,25203801,NaN,NaN,1.839910,NaN,-0.857817,-0.513955,34.711006,33.132700,9.455479,8.509847,20.418292,20.409782,130.249832,130.234685,NaN,0.036369,NaN,-0.279790
2,25203301,25203801,NaN,NaN,3.250397,NaN,-0.762941,-0.646469,34.711006,32.231146,9.455479,7.354199,20.418292,20.399383,130.249832,130.226033,NaN,-0.100773,NaN,-0.222111
3,25203301,25203801,NaN,NaN,5.434177,NaN,-0.758003,-0.652252,34.711006,30.591885,9.455479,5.911028,20.418292,20.386395,130.249832,130.210300,NaN,-0.079736,NaN,-0.041995
4,25203301,25203801,-0.184613,-0.181821,2.794865,0.197102,-0.997457,-0.071267,35.920458,33.132700,8.709030,8.509847,20.411575,20.409782,130.261440,130.234685,0.220982,0.036369,-0.097969,-0.279790

## Save

In [17]:
tbl.to_csv('Two_Sprays.csv')

In [18]:
len(tbl)

945

In [20]:
ival = np.argmin(np.abs(tbl.dr-25.))
idict = tbl.iloc[ival].to_dict()

In [21]:
idict

{'missid_0': 25203301.0,
 'missid_1': 25203801.0,
 'du': -0.06433587335273819,
 'dv': 0.07994287501609944,
 'dr': 25.00452854678842,
 'duL': 0.012421063489815691,
 'drX': 0.6974332537146641,
 'drY': 0.7166497447240018,
 'dist_0': 5.171237300609316,
 'dist_1': 22.610227002597167,
 'offset_0': -9.682441199999996,
 'offset_1': 8.237047799999942,
 'lat_0': 20.246065,
 'lat_1': 20.4073275,
 'lon_0': 129.96633,
 'lon_1': 130.1336975,
 'u_0': 0.29446365694003573,
 'u_1': 0.23012778358729755,
 'v_0': 0.003931506214635394,
 'v_1': 0.08387438123073483}