# Compare Structure Function Calculations (X, Maya)

## Data = EMApex, small array:  EMApex_data_small_array_19-Feb-2025.mat

##

In [37]:
# imports
from importlib import reload
import pymatreader

import pandas

from profiler.specific import em_apex
from profiler import binning

# Load me

In [3]:
dfile = '/home/xavier/Projects/Oceanography/data/ARCTERX/Floats/EM_Apex/EMApex_data_small_array_19-Feb-2025.mat'

d = pymatreader.read_mat(dfile)

## Notes on the data

## E = EM Apex (top level)
## F10279 = Float #

## time - datenum
## u1, u2, v1, v2 - measured em velocities 
## U1, U2, V1, V2 - velocities in earth coordinates 
## u_float, v_float - estimated mean velocity while profiling
## time_prof - mean time of profile
## lat, lon - estimated mean location of profile
## prof_num - odd numbers are down profiles, even are up profiles
## te
## sa
## pr

In [4]:
d['E'].keys()

dict_keys(['F10285', 'F10280', 'F10282', 'F10281', 'F10278', 'F10279', 'F10283'])

# Profiler

In [7]:
dataset = 'ARCTERX-Leg2'
pDatas = em_apex.load_emapex_infield(dfile, dataset)

Working on float F10278
Working on float F10279
Working on float F10280
Working on float F10281
Working on float F10282
Working on float F10283
Working on float F10285

In [33]:
# Bin
#print(pDatas[0])
reload(binning)
bData = binning.bin_profilerdata(pDatas[0], add_vel=False)

FIX THIS HACK!!!!!!!!!!!!!!!!!!!!!!!!!
Depths: [ 10.  20.  30.  40.  50.  60.  70.  80.  90. 100. 110. 120. 130. 140.
 150. 160. 170. 180. 190. 200.]

## Check

In [34]:
bData

EMApexData object for ARCTERX-Leg2
  Number of profiles: 388
  Time range: 2025-02-05 23:18:34.045459509 to 2025-02-18 18:47:28.124996185
  Variables:
    time: (388,)
    lat: (388,)
    lon: (388,)
    t: (388, 20)
    s: (388, 20)
    theta: (388, 20)
    sigma: (388, 20)
    rho: (388, 20)

In [36]:
bData.depth

array([ 10.,  20.,  30.,  40.,  50.,  60.,  70.,  80.,  90., 100., 110.,
       120., 130., 140., 150., 160., 170., 180., 190., 200.])

### pandas Table for ease of reading

In [38]:
df = pandas.DataFrame(dict(depth=bData.depth, t=bData.t[0]))
df

    depth          t
0    10.0  24.872925
1    20.0  24.877049
2    30.0  24.877113
3    40.0  24.881218
4    50.0  24.886950
5    60.0  24.891440
6    70.0  24.888362
7    80.0  24.867585
8    90.0  24.858897
9   100.0  24.853914
10  110.0  24.845836
11  120.0  24.715519
12  130.0  24.047522
13  140.0  22.906786
14  150.0  22.502429
15  160.0  22.118737
16  170.0  21.475546
17  180.0  21.210315
18  190.0        NaN
19  200.0        NaN

## These match Maya's!!!!!!!

----

# Structure Function

## Radial bins

In [ ]:
asdfasd